# API Keys
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=
GLM_API_KEY=

# Configuration
# LLM_PROVIDER can be 'gemini' or 'glm' or 'bedrock'
LLM_PROVIDER=bedrock
AWS_REGION=ap-southeast-2
BEDROCK_MODEL_ID=google.gemma-3-27b-it


# OCR_PROVIDER can be 'lighton' or 'glm'
OCR_PROVIDER=glm